*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background-image:  url('../images/2314950.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#brandImg {
    filter: drop-shadow(0px 1px 1px black);
}

.buttonActive {
    border-radius: 20px;
    /* font-weight: 600; */
    font-size: 16px;
    cursor: pointer;  
    padding:6px 25px 8px;
    background-color: transparent;
    /* color: white;     */
}

.button {
    padding:6px 25px 8px;
    border-radius: 20px;
    /* font-weight: 600; */
    font-size: 16px;
    cursor: pointer;  
    color: rgb(30, 177, 236);
    text-shadow: 0px 0px 10px rgb(65, 178, 216);
}

.form-control {
    width: 100%;
}

.form-box {
    border-radius: 15px;
    backdrop-filter: blur(15px);
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

input::placeholder {
    transition-duration: 500ms;
}

input:focus::placeholder {
    transform: translateX(-250px);
}

.table-box {
    backdrop-filter: blur(15px);
}
